@import "https://unpkg.com/open-props"; 
@import "https://unpkg.com/open-props/normalize.min.css"; 

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
  overscroll-behavior-y: contain;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#info {
  flex: 3;
  line-height: 1.1;
  font-size: min(6vw, 2.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#info > div {
    text-align: center;
  }

#buttons {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "speak metronome notify"
    "recalculate recalculate focus";
  gap: 1rem;
}

#buttons button {
  font-size: min(5vw, 2rem);
}

#buttons button.active {
  color: var(--blue-6);
  background-color: var(--blue-0);
  border: 1px solid var(--blue-1);
  text-shadow: 0 1px 0 var(--blue-2);
}

#buttons button.active:hover {
  background-color: var(--blue-1);
}
#buttons #recalculate {
  font-size: min(6.5vw, 2.5rem);
  grid-area: recalculate;

  color: var(--green-6);
  background-color: var(--green-0);
  border: 1px solid var(--green-1);
  text-shadow: 0 1px 0 var(--green-2);
}

#buttons #recalculate:hover {
  background-color: var(--green-1);
}
#buttons #speak {
  grid-area: speak;
}
#buttons #metronome {
  grid-area: metronome;
}
#buttons #notify {
  grid-area: notify;
}
#buttons #focus {
  grid-area: focus;
}

#map {
  flex: 5;
}

.big {
  font-size: min(15vw, 4.5rem);
}

:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
    saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
  .map-tiles {
    filter: var(--map-tiles-filter, none);
  }
}
